.cboth {
  clear: both;
}
.footer {
  box-sizing: border-box;
  width: 100%;
  min-width: 1250px;
  margin: 50px auto 0;
  border: 0;
  padding: 50px 5%;
  background-color: #f7f7f7;
  &_section01 {
    width: 55%;
    padding: 0;
    margin: 0 0 30px 0;
    float: left;
    .bt {
      font-size: 13px;
      color: #909090;
      line-height: 25px;
      margin-bottom: 40px;
      p {
        color: #1a1a1a;
        line-height: 23px;
      }
      .phone {
        font-size: 22px;
        font-weight: 700;
        margin-bottom: 10px;
      }
      .email {
        font-weight: 400;
      }
    }
    .bt_copyright span {
      background: url(https://spao.com/morenvyimg/bt_copy_line.png) no-repeat;
      background-size: 1px 11px;
      width: 1px;
      height: 11px;
      margin: 0 5px 0 10px;
      display: inline-block;
    }
    .wrap_bt_icon {
      display: flex;
      font-size: 0;
      .emblem {
        display: flex;
        align-items: center;
        margin-right: 20px;
        img {
          height: 40px;
          margin-right: 12px;
        }
      }
      .bt_sns a {
        margin-right: 15px;
      }
    }
  }
  &_section02 {
    float: right;
    ul {
      float: left;
      text-align: right;
      margin-left: 50px;
      padding: 0;
    }
    li {
      list-style: none;
      a {
        line-height: 30px;
        font-size: 13px;
        color: #606060;
      }
    }
    a {
      text-decoration: none;
    }
  }
  &_section03 {
    border-top: 1px solid #e5e5e5;
    font-size: 13px;
    color: #909090;
    padding-top: 30px;
  }
}
